body { 

    font-family: Arial, sans-serif; 

    padding: 20px; 

} 

 

table { 

    width: 60%; 

    border-collapse: collapse; 

} 

 

th, td { 

    border: 1px solid #ff0000; 

    padding: 10px; 

    text-align: left; 

} 

 

th { 

    background-color: #f2f2f2; 

} 

 

tr:nth-child(even) { 

    background-color: #fafafa; 

} 